"" Source your .vimrc
"source ~/.vimrc
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
"" Basic Settings
set nobackup
set noswapfile
set scrolloff=5
set clipboard+=unnamed

" Do incremental searching.
set incsearch
"" Plugins
set keep-english-in-normal
set easymotion

" Don't use Ex mode, use Q for formatting.
map Q gq


"" Keymaps
imap jj <esc>
let mapleader=" "
"" quit/save buffer
nmap <leader>c :q<cr>
nmap <leader>w :w<cr>
"" buffer move
nmap <leader>bb :bp<cr>
nmap <leader>bn :bn<cr>
"" tab move
nmap L <action>(NextTab)
nmap H <action>(PreviousTab)

nmap ge <action>(GotoNextError)
nmap gt <action>(GotoTest)
nmap gm <action>(MethodUp)
nmap gi <action>(GotoImplementation)
" last changed in current buffer(file)
nmap ga '.

nmap <leader>e <action>(ActivateProjectToolWindow)
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
